.fwt-content {
  border-right: 1px solid #d7e0e2;
  border-left: 1px solid #d7e0e2;
  border-bottom: 1px solid #d7e0e2;
  padding: 10px;
  font-size: 14px;
  color: #222222;
  line-height: 1.6em;
  min-height: 200px;
}
