.fwt-editor {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.fwt-menu {
  text-align: center;
  background: #ecf0f1;
  display: flex;
  align-items: center;
  border: 1px solid #d7e0e2;
}

.fwt-button {
  position: relative;
  background: #ecf0f1;
  border: none;
  flex: 1;
  padding: 5px 10px;
  font-size: 0.8em;
  margin: 5px 2px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: 0.5s;
}

.fwt-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.fwt-button:focus,
.fwt-content:focus {
  outline: 0;
}

.fwt-button:hover,
.fwt-active-button {
  background-color: #fff;
  cursor: pointer;
}
