.fwt-editor {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.fwt-menu {
  text-align: center;
  background: #ecf0f1;
  display: flex;
  align-items: center;
  border: 1px solid #d7e0e2;
}

.fwt-button {
  position: relative;
  background: #ecf0f1;
  border: none;
  flex: 1;
  padding: 5px 10px;
  font-size: 0.8em;
  margin: 5px 2px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: 0.5s;
}

.fwt-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.fwt-button:focus,
.fwt-content:focus {
  outline: 0;
}

.fwt-button:hover,
.fwt-active-button {
  background-color: #fff;
  cursor: pointer;
}

.fwt-dropdown {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.fwt-dropdown .fwt-button-menu {
  list-style-type: none;
  display: none;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding-left: 0px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.fwt-dropdown .fwt-button-menu li {
  background-color: #ecf0f1;
  padding: 5px;
}

.fwt-dropdown:hover > .fwt-button-menu > li:hover {
  background-color: #abcdef;
}
